<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>


<div ng-repeat="user in users" layout-margin>

    <div ng-click="user.expand = !user.expand">
        <md-toolbar layout="center center" layout-align="center center">{{user.pseudo}}</md-toolbar>
    </div>

    <div ng-show="user.expand" layout="center center" layout-align="center center">
        <boxStyle>

            <form name="modifyForm">

                <md-input-container>
                    <label>Pseudo</label>
                    <input required name="pseudo" ng-model="user.pseudo">
                    <div ng-messages="modifyForm.pseudo.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>e-mail</label>
                    <input type="email" required name="email" ng-model="user.email">
                    <div ng-messages="modifyForm.email.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="email">This is not an email.</div>
                    </div>
                </md-input-container>

                <md-input-container >
                    <label>Password</label>
                    <input type="password" name="pwd"  ng-model="user.pwd">
                </md-input-container>
                <md-button ng-click="modifyUser({'pseudo':user.pseudo,'email':user.email,'password':user.password},$event)" ng-disabled="(modifyForm.email.$error.required || modifyForm.email.$error.email || modifyForm.pseudo.$error.required)">Modify</md-button>
                <md-button ng-click="deleteUser({'pseudo':user.pseudo,'email':user.email,'password':user.password},$event)">Delete</md-button>

            </form>
        </boxStyle>
    </div>
</div>

</body>
</html>