<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>


<div ng-repeat="user in users" layout-margin>

    <div ng-click="user.expand = !user.expand">
        <md-toolbar layout="center center" layout-align="center center">{{user.pseudo}}</md-toolbar>
    </div>

    <div ng-show="user.expand" layout="center center" layout-align="center center">
        <boxStyle>

            <form name="signinForm">

                <md-input-container>
                    <label>Pseudo</label>
                    <input required name="pseudo" ng-model="user.pseudo" ng-change="checkPseudo()">
                    <div ng-messages="signinForm.pseudo.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>e-mail</label>
                    <input type="email" required name="email" ng-model="user.email" ng-change="checkEmail()">
                    <div ng-messages="signinForm.email.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="email">This is not an email.</div>
                    </div>
                </md-input-container>

                <md-input-container >
                    <label>Password</label>
                    <input type="password" required name="pwd"  ng-model="user.pwd" ng-change="checkPwds()">
                </md-input-container>
                <md-button ng-click="modify()" ng-show="emailOk && pseudoOk">Modify</md-button>

            </form>
        </boxStyle>
    </div>
</div>

</body>
</html>