<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<tabStyle ng-show="true" layout="center center" layout-align="center center">
    <md-tabs md-selected="selectedTab" layout-align="center center">
        <md-tab ng-repeat="tab in domains" ng-disabled="tab.disabled" label = "{{tab.name}}">

            <md-item layout-margin>
                <div ng-bind="tab.description">

                </div>
            </md-item>


            <div ng-repeat="applet in applets" ng-if="applet.domain === tab.id">

                <md-card >
                    <md-toolbar layout="center center" layout-align="center center" ng-click="applet.isCollapsed = !applet.isCollapsed" >
                            {{applet.name}}
                    </md-toolbar>

                    <md-item ng-hide="applet.isCollapsed" layout-margin>
                        <h3>
                            {{applet.description}}
                        </h3>

                            <section >

                                <md-button ng-click="openDl(applet.url)" class="md-raised md-warn">
                                    <md-icon icon="bower_components/material-design-icons/action/svg/design/ic_get_app_24px.svg" style="width: 24px; height: 24px;"></md-icon>
                                </md-button>

                            <md-button ng-click="goWindow('/PortailSep/app/appletPartials/chatSystem.html')" class="md-raised" ng-style="{background : 'green',color:'white'}">
                                <md-icon icon="bower_components/material-design-icons/av/svg/design/ic_play_arrow_24px.svg" style="width: 24px; height: 24px;"></md-icon>
                            </md-button>

                                <md-checkbox ng-disabled="true" ng-model="applet.done" ng-init="applet.done">
                                    <md-item ng-if="applet.done">
                                        Done
                                    </md-item>
                                    <md-item ng-if="!applet.done">
                                        Not done
                                    </md-item>
                                </md-checkbox>

                            </section>

                        <md-item layout-margin>
                            {{applet.duration}}
                        </md-item>
                    </md-item>

                </md-card>

            </div>

        </md-tab>
    </md-tabs>
</tabStyle>
</body>
</html>