<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div  layout-margin layout="center center" layout-align="center center" ng-show="!userConnected">
    <boxStyle layout-margin>

        <form name="loginForm">
            <md-input-container>
                <label>{{loginTxt}}</label>
                <input ng-model="login" required name="login">
                <div ng-messages="loginForm.login.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container >
                <label>Password</label>
                <input type="password" required name="pwd" ng-model="pwd">
                <div ng-messages="loginForm.pwd.$error">
                    <div ng-message="required">This is required.</div>
                </div>
                <div ng-messages="infoTry">
                    <div ng-message="badPwdLogin">Bad password or login.</div>
                </div>
            </md-input-container>

            <md-button ng-click="connect()" ng-disabled="loginForm.login.$error.required || loginForm.pwd.$error.required">Connect</md-button>

        </form>
        <md-button  ng-click="go('/signin')">Sign-in</md-button>
    </boxStyle>
</div>

</body>
</html>