<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div layout="center center" layout-align="center center">
    <boxStyle>

        <div layout-margin layout="center center" layout-align="center center">

            Profile informations

        </div>

        <form name="signinForm">

            <md-input-container>
                <label>Pseudo</label>
                <input required name="pseudo" ng-model="pseudoModify" ng-change="checkPseudo()">
                <div ng-messages="signinForm.pseudo.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>

            <md-input-container>
                <label>e-mail</label>
                <input type="email" required name="email" ng-model="emailModify" ng-change="checkEmail()">
                <div ng-messages="signinForm.email.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="email">This is not an email.</div>
                </div>
            </md-input-container>

            <md-input-container >
                <label>Old password</label>
                <input type="password"  name="oldPwd"  ng-model="oldPwd">
            </md-input-container>

            <md-input-container >
                <label>New password</label>
                <input type="password"  name="pwd"  ng-model="pwd" ng-change="checkPwds()">
                <div ng-messages="pwdNotEqual">
                    <div ng-message="notEqual">Password not equals.</div>
                </div>
            </md-input-container>

            <md-input-container >
                <label>Confirm password</label>
                <input type="password"  name="pwd2" ng-model="passwordModify" ng-change="checkPwds()">
                <div ng-messages="pwdNotEqual">
                    <div ng-message="notEqual">Password not equals.</div>
                </div>
            </md-input-container>

            <md-button ng-click="changeInfo($event)" ng-disabled="signinForm.pseudo.$error.required || signinForm.email.$error.required || signinForm.email.$error.email">Change info</md-button>

        </form>
    </boxStyle>
</div>

</body>
</html>