<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div  layout="center center" layout-align="center center">
    <boxStyle>

        <div layout-margin layout="center center" layout-align="center center">

            Profile informations

        </div>

        <form style="padding-bottom: 2%;" name="signinForm">

            <md-input-container>
                <label>{{jsonLang.login}}</label>
                <input required name="pseudo" ng-model="pseudoModify" ng-change="checkPseudo()">
                <div ng-messages="signinForm.pseudo.$error">
                    <div ng-message="required">{{jsonLang.required}}</div>
                </div>
            </md-input-container>

            <md-input-container>
                <label>e-mail</label>
                <input type="email" required name="email" ng-model="emailModify" ng-change="checkEmail()">
                <div ng-messages="signinForm.email.$error">
                    <div ng-message="required">{{jsonLang.required}}</div>
                    <div ng-message="email">{{jsonLang.notEmail}}</div>
                </div>
            </md-input-container>

            <md-input-container >
                <label>{{jsonLang.oldPassword}}</label>
                <input type="password"  name="oldPwd"  ng-model="oldPwd">
            </md-input-container>

            <md-input-container >
                <label>{{jsonLang.newPassword}}</label>
                <input type="password"  name="pwd"  ng-model="pwd" ng-change="checkPwds()">
                <div ng-messages="pwdNotEqual">
                    <div ng-message="notEqual">{{jsonLang.passwordNotEqual}}</div>
                </div>
            </md-input-container>

            <md-input-container >
                <label>{{jsonLang.newPassword}}</label>
                <input type="password"  name="pwd2" ng-model="passwordModify" ng-change="checkPwds()">
                <div ng-messages="pwdNotEqual">
                    <div ng-message="notEqual">{{jsonLang.passwordNotEqual}}</div>
                </div>
            </md-input-container>

            <md-button style="margin-bottom: 2%;" ng-click="changeInfo($event)" ng-disabled="signinForm.pseudo.$error.required || signinForm.email.$error.required || signinForm.email.$error.email || pwdNotEqual.notEqual">{{jsonLang.changeInfo}}</md-button>
            <md-button ng-click="delUser($event)">{{jsonLang.deleteAccount}}</md-button>

        </form>
    </boxStyle>
</div>

</body>
</html>