/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

titleToolbar {
  background-color: #105cb6;
  width: 30%;
  text-align: center;
  color: red;
  margin-left: 20%;
}

tabStyle {
  background-color: #f8f8f8;
  width: 35%;
  text-align: center;
  color: #000000;
  margin-left: 35%;
  margin-top: 1%;
}

boxStyle {
  background-color: #f8f8f8;
  width: 25%;
  text-align: center;
  color: #000000;
  margin-top: 1%;
}

decoStyle {
  width: 100%;
  color: #000000;
  margin-top: 5%;
  margin-bottom: 5%;
  color: #000000;
  text-align: center;
  background-color: lightcoral;
}

.centerBoxStyle {
  width: 50% ;
  color: #000000;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
  text-align: center;
  background-color: #f8f8f8;
}

.centerTxtReference {
  color: #000000;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
  text-align: center;
  background-color: #f8f8f8;
  padding-left: 5%;
  padding-right: 5%;
}

.widthBox {
  width: 80% ;
  color: #000000;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
  text-align: center;
  background-color: #eeeeee;
  padding-bottom: 2%;
  padding-top: 2%;

}
