<!DOCTYPE html>
<html ng-app="mainApp" ng-controller="mainCtrl">
<head lang="en">
    <meta charset="UTF-8">
    <title>{{nameProject}}</title>

    <link rel="stylesheet" href="app.css">

    <link rel="stylesheet" href="/PortailSep/app/bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="/PortailSep/app/bower_components/angular-material/angular-material.min.css">

    <script src="/PortailSep/app/bower_components/angular/angular.js"></script>
    <script src="/PortailSep/app/bower_components/angular-material/angular-material.min.js"></script>

    <script src="/PortailSep/app/bower_components/angular-material/modules/js/whiteframe/whiteframe.min.js"></script>
    <link rel="/stylesheet" href="/PortailSep/app/bower_components/angular-material/modules/js/whiteframe/whiteframe.min.css">

    <script src="/PortailSep/app/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/PortailSep/app/bower_components/angular-messages/angular-messages.js"></script>
    <script src="/PortailSep/app/bower_components/angular-material/angular-material.js"></script>
    <script src="/PortailSep/app/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/PortailSep/app/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/PortailSep/app/bower_components/angular-route/angular-route.js"></script>
    <script src="/PortailSep/app/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="/PortailSep/app/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/PortailSep/app/javascript/mainApp.js"></script>
    <script src="/PortailSep/app/javascript/network.js"></script>
    <script src="/PortailSep/app/javascript/resourceNetwork.js"></script>
    <script src="/PortailSep/app/bower_components/angular-cookies/angular-cookies.js"></script>

</head>
<body >

<md-sidenav class="md-sidenav-left" md-component-id="left">
    <section>
        <md-toolbar>

            <md-button ng-click="go('/welcome')">
                <h1>{{abreviationProject}}</h1>
            </md-button>
        </md-toolbar>
    </section>

        <section layout="column" ng-show="userConnected"  >

            <md-button ng-click="go('/profile')">
                Profile
            </md-button>

            <md-button ng-click="go('/applets')">
                Applets
            </md-button>

            <md-button ng-click="deconnect()">
                Deconnexion
            </md-button>
        </section>

</md-sidenav>

<md-toolbar >
    <md-button ng-click="toggleMenu()">
        <md-icon icon="blank" style="width: 24px; height: 24px;"></md-icon>
        {{nameProject}}
        <md-icon icon="blank" style="width: 24px; height: 24px;"></md-icon>
    </md-button>
</md-toolbar>

<div ng-view></div>

</body>
</html>